* {
    padding:0;
    margin:0;
    font-family: sans-serif;
}
* { 
    color: inherit;
    text-decoration: none;
}
.meddsos {
    padding: 5px 0;
    background-color: #a9a9a9;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container:after {
    content: '';
    display: block;
    clear:both;
}
header h1 {
    float:left;
    padding: 15px 0;
    color: #696969;
}
header ul {
    float: right;
}